/* 2018.01.08 */
/* pgc head start */
.myAgent{width: 100%;height: 100%;}
.myAgent .head{position: relative;padding-bottom: 2.148148148148148rem;}
.myAgent .head .header{position: fixed;z-index: 9;left: 0;top: 0;width: 16rem;height: 2.148148148148148rem;line-height: 2.148148148148148rem;text-align: center;background-image: url(../images/agentheadbg.jpg);background-size: 16rem  2.148148148148148rem;background-repeat: no-repeat;background-position: left top;font-size: 0.7111111111111111rem;color: #fff; }
.myAgent .head .backUp{position: absolute;left:0.5481481481481481rem;width: 0.8592592592592593rem;height: 1.007407407407407rem;top:0;bottom: 0;margin: auto;}
.myAgent .head .backUp:after,.myAgent .head .backUp:before{content: '';position: absolute;left: 0;width:0.4444444444444444rem ;height: 0.0444444444444444rem;background-color: #fff;transform-origin: left  center;}
.myAgent .head .backUp:after{top: 0.4962962962962963rem;transform: rotate(-45deg);bottom: 0;}
.myAgent .head .backUp:before{transform: rotate(45deg);bottom: 0.4962962962962963rem;}
/* head end */
/* nav start */
.myAgent .nav{margin: 0.3703703703703704rem 0;}
.myAgent .nav ul{width:16rem;height: 1.481481481481481rem;display: flex;display:-webkit-flex; -webkit-justify-content: center;
    justify-content: center;   }
.myAgent .nav ul li {}
.myAgent .nav ul li:first-of-type a{border-radius: 0.1481481481481481rem 0 0 0.1481481481481481rem;
    border-right:none; }
.myAgent .nav ul li:nth-child(2) a{border-right:none; }
.myAgent .nav ul li:last-of-type a{border-radius:  0 0.1481481481481481rem 0.1481481481481481rem 0  }
.myAgent .nav ul li a{width: 3.881481481481481rem;height: 1.392592592592593rem;line-height: 1.392592592592593rem;text-align: center;display: block;color: #2c70e1;font-size: 0.562962962962963rem;border: 0.0444444444444444rem solid #2c70e1;}
.myAgent .nav ul>li.active a{color: #fff;background-color: #2c70e1;}
/* nav end */

/* hint start */
.hint{width: 14.25185185185185rem;height:22.84444444444444rem;border-radius: 0.2222222222222222rem;margin: 0 auto;border-radius: 0.2222222222222222rem;box-shadow: 0 0.5185185185185185rem 1.185185185185185rem 0rem #d1e0f8}
.hintTit{width: 14.25185185185185rem;height: 2.207407407407407rem;line-height: 2.207407407407407rem;text-align: center;color: #2c70e1;font-size: 0.7111111111111111rem;background-image: url("../images/agenthintbg.png");background-size: cover;}
.tipLists{width: 12rem;margin: 0 auto;}
.hint .tipListsTit,.tipLists ul li{display: flex;display: -webkit-flex;}
.hint .tipListsTit span{color: #2c70e1;font-size: 0.562962962962963rem;display: block;text-align: center;height: 2.222222222222222rem;line-height: 2.222222222222222rem;}
.hint .tipListsTit span:nth-of-type(1),.tipLists ul li span:nth-of-type(1){width: 1.555555555555556rem;text-align: left;}
.hint .tipListsTit span:nth-of-type(2),.tipLists ul li span:nth-of-type(2){width: 4.666666666666667rem;}
.hint .tipListsTit span:nth-of-type(3),.tipLists ul li span:nth-of-type(3){width: 4.074074074074074rem;}
.tipListsCon{height: 18.01481481481481rem;overflow-y: auto;}

.hint .tipListsTit span:nth-of-type(4),.tipLists ul li span:nth-of-type(4){width: 1.703703703703704rem;text-align: right;}
.tipLists ul li{width:12rem;height: 2.222222222222222rem;line-height: 2.222222222222222rem;border-top: 0.0296296296296296rem solid #ccc; }
.tipLists ul li span{color: #1a1a1a;font-size: 0.562962962962963rem;display: block;text-align: center;height: 2.222222222222222rem;line-height: 2.222222222222222rem;}

/* hint end */
