html,body{width: 100%;height: 100%;}
.invitation_code{width: 100%;height: 24rem;background-image: url("../images/invite_bg.jpg");background-size:16rem 24rem;background-repeat: no-repeat;background-position: left top;}
/* head start */
.head{padding-top: 0.5rem;background-size:16rem 2.148148148148148rem;background-repeat: no-repeat;background-position: left top;}
.header{height: 1.007407407407407rem;line-height: 1.007407407407407rem;text-align: center;font-size: 0.7111111111111111rem;color: #fff;position: relative}
.head .backUp{position: absolute;left:0.5481481481481481rem;width: 0.8592592592592593rem;height: 1.007407407407407rem;top:0;bottom: 0;margin: auto;}
.head .backUp:after,.head .backUp:before{content: '';position: absolute;left: 0;width:0.4444444444444444rem ;height: 0.0444444444444444rem;background-color: #fff;transform-origin: left  center;}
.head .backUp:after{top: 0.47rem;transform: rotate(-45deg);bottom: 0;}
.head .backUp:before{transform: rotate(45deg);bottom: 0.51rem;}
/* head end */
/* main start */
.main{width: 12.26666666666667rem;margin: 0 auto;padding-top: 11.5rem;}
.main .hint{color: #fff;font-size: 0.48rem;width: 10.94814814814815rem;margin: 0 auto;text-align: center;margin-bottom: 0.5185185185185185rem;}
.main form>div{margin-left:auto; margin-right: auto; width: 10rem;height: 1.6rem;border: 0.0444444444444444rem solid #b3b3b3;border-radius: 0.8740740740740741rem;display: flex;display: -webkit-flex;padding: 0 0.2962962962962963rem;margin-bottom:0.35rem}
.main form>div label{display: block;width: 1.407407407407407rem;height: 100%;position: relative;}
.main form>div label img{position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;width: 0.7407407407407407rem;height: 0.7407407407407407rem;}
.main form>div input{display: block;height: 0.562962962962963rem;line-height: 0.562962962962963rem;font-size: 0.562962962962963rem;border: none;padding-top: 0.5925925925925926rem;padding-bottom: 0.5925925925925926rem;background-color: transparent;flex: 1;-webkit-flex: 1;color: #ccc}
.main form>div input::-webkit-input-placeholder {color: #ccc;}
.main form>div:nth-of-type(3) input{width: 1rem}
.getCode{display: block;color: #fff;font-size: 0.5037037037037037rem;height: 1.748148148148148rem;line-height: 1.748148148148148rem;text-align: right;padding-right:0.6518518518518519rem;width: 4.148148148148148rem;}
.getCode i{font-style: normal;}
.main form>div:last-of-type{background-color: #ff770d;border: none;}
.main form>div:last-of-type input{display: block;width: 100%;height: 100%;font-size: 0.7111111111111111rem;color: #fff;}
/* main end */

* {
    padding: 0;
    margin: 0;
    list-style: none;
}
html, body {
    font-size: 20px;
}
.hide {
    display: none;
}
.mark-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.mark-black {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}
.mark-content {
    width: 10rem;
    position: absolute;
    z-index: 11000;
    left: 50%;
    margin-left: -5rem;
    margin-top: -59px;
    top: 50%;
    text-align: center;
    border-radius: 0.35rem;
    -webkit-transform: translate3d(0, 0, 0) scale(1.185);
    transform: translate3d(0, 0, 0) scale(1.185);
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    color: #3d4145;
}
.mark-time {
    padding: 0.55rem;
    height: 2rem;
    border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
    position: relative;
    background: #e8e8e8;
}
.mark-button {
    height: 2.2rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.mark-button > a {
    width: 100%;
    padding: 0 0.25rem;
    height: 2.2rem;
    font-size: 0.85rem;
    line-height: 2.2rem;
    text-align: center;
    color: #0894ec;
    background: #e8e8e8;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    border-radius: 0 0 0.35rem 0.35rem;
    text-decoration: none;
}