#header {
    background-image: url(../images/bg4.jpg);
    background-size: 16rem 4.25rem;
    width: 100%;
    height: 4.25rem;
    line-height: 2.148148rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.7111rem;
}

header img {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.dataBox {
    height: 14.9rem;
    width: 14.4rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: -1.75rem;
    border-radius: 0.25rem;
    box-shadow: 0rem 0.3rem 0.6rem grey;
    background-color: white;
}

.dataBox div {
    margin-left: 1.15rem;
    margin-right: 1.15rem;
    height: 2.4rem;
    width: 12.1rem;
    background-color: transparent;
    border-top: solid #545454;
    border-width: 0.02rem;
}

.dataBox p {
    line-height: 2.4rem;
    text-align: center;
    font-size: 0.56rem;
}

div input {
    height: 0.86rem;
    margin-top: 0.72rem;
    margin-left: 1rem;
    vertical-align: middle;
    border: none;
    font-size: 0.56rem;
}

.value {
    color: #2d70e1;
}

.submit {
    margin-top: 1.5rem;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
    background-color: #2d70e1;
    height: 1.83rem;
    border-radius: 1.83rem;
    text-align: center;
    font-size: 0.56rem;
    color: white;
    line-height: 1.83rem;
}

.induction {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-top: 1rem;
}

.induction p {
    color: #545454;
    font-size: 0.56rem;
}

#verifyCode {
    max-width: 4rem;
}




