.pageHeader {
    margin: 1rem 0 1rem 1rem;
    color: #ffffff;
    height: 1.1815rem;
}

.header {
    background-image: url(../images/bg5.jpg);
    background-size: 16rem 2.148148rem;
    width: 100%;
    height: 2.148148rem;
    line-height: 2.148148rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.7111rem;
}

#geographic {
    width: 2.5rem;
    font-size: 0.7111rem;
    float: left;
    position: relative;
    z-index: 1000;
}

.pageHeader #selectValue {
    position: absolute;
    top: 0.7407rem;
    z-index: 50;
}

.totalWidth {
    width: 16rem;
}

.seatchBox {
    float: left;
    position: relative;
    width: 9rem;
}

.seatchBox #keyword {
    width: 7.748148rem;
    height: 1.185185rem;
    line-height: 1.185185rem;
    font-size: 0.474rem;
    color: #808080;
    padding-left: 1.437rem;
    border: 0rem;
    border-radius: 5.3333rem;
}

.seatchBox .s_button {
    position: absolute;
    left: 0.4592rem;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 0.7407rem;
    width: 0.7407rem;
}

.shareLink {
    float: left;
    width: 2.5rem;
    height: 1.1815rem;
    line-height: 1.1815rem;
}

.shareLink img {
    display: block;
    margin-left: 1.74rem;
    margin-top: 0.22rem;
    height: 0.74rem;
    width: 0.74rem;
    vertical-align: middle;
}

.classDiv {
    width: 14.2518rem;
    margin: 0 auto;
    margin-top: 0.99259rem;
    background-color: #ffffff;
    border-radius: 0.37037rem;
    padding-bottom: 0.59259rem;
    box-shadow: 0rem 0.29629rem 0.59259rem #e7e7e7;
    min-height: 6.9333rem;

}

.classDiv a {
    color: #262626;
}

.classDiv li {
    float: left;
    width: 4.7407rem;
    font-size: 0.474rem;
    color: #262626;
    text-align: center;
    margin-top: 0.59259rem;
}

.classDiv li p {
    margin-top: 0.2222rem;
    font-weight: lighter;
}

.bitTitle {
    color: #272727;
    font-size: 0.5629rem;
    text-align: center;
    margin-top: 0.5777em;
    font-weight: lighter;
}

.listBox {
    width: 14.237rem;
    height: 4.56296rem;
    margin: 0 auto;
    border-radius: 0.37037rem;
    box-shadow: 0 0 0.59259rem #d5d4d4;
    margin-top: 0.4148rem;
    border: 0.0148rem white solid;
}

.listBox .l-left {
    position: relative;
    top: 0.3407rem;
    left: 0.3407rem;
    width: 4.8296rem;
    height: 3.88148rem;
    float: left;
    overflow: hidden;
    border-radius: 0.05rem;

}

.listBox .l-left img {
    width: 4.82962962962963rem;
    height: 3.881481481481481rem
}

.listBox .l-right {
    position: relative;
    left: 0.8592rem;
    top: 0.3407rem;
    width: 7.6444rem;
    /*max-height: 3.6rem;*/
    height: 4rem;
    float: left;
}

.listBox .l-right .title {
    margin-top: 0.2rem;
    width: 7.4963rem;
    color: #333333;
    font-size: 0.56296rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.listBox .l-right .desc {
    margin-top: 0.2rem;
    width: 7.4963rem;
    color: #333333;
    font-size: 0.474rem;
    line-height: 0.56rem;
    max-height: 1.0666rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-weight: lighter;
}

.listBox .l-right .button {
    position: absolute;
    bottom: 0;
    height: 0.75rem;
    width: 7.6444rem;
    margin-bottom: 0.2rem;
    line-height: 0.75rem;
}

.button img {
    float: right;
    display: block;
    width: 3.259259rem;
    height: 0.74074rem;
    vertical-align: middle;
}

.list_c_div {
    width: 15.0222rem;
    margin: 0 auto;
    border-radius: 0.3703rem;
    padding-bottom: 0.5629rem;
    box-shadow: 0 0 0.59259rem 0.2962rem #e1e8f8;
    margin-top: 0.4888rem;
    border: 0.0148rem #fff solid;
}

.list_c_div li {
    float: left;
    width: 4.19259em;
    margin-left: 0.6222rem;
    margin-top: 0.5629rem;
    display: inline;
}

.list_c_div li .title {
    color: #1a1a1a;
    font-size: 0.474rem;
    line-height: 0.6222rem;
}

.list_c_div li .price {
    color: #eb2225;
    font-size: 0.4148em;
}

.list_c_div li .title a {
    color: #1a1a1a;
}

.list_c_div li .price a {
    color: #1a1a1a;
}

.mainContent {
    padding-bottom: 2.2222rem;
}

.mainContent .classDiv .cat-list li img {
    width: 2rem;
    height: 1.97037rem;
}

.listBox .l-right .button .examinebutton {
    width: 3.259259rem;
    height: 0.74074rem;
}

.bottomPlaceHolder {
    height: 2.148148rem;
    width: 100%;
}

footer {
    width: 100%;
    height: 2.148148rem;
    line-height: 2.148148rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.7111rem;
    position: fixed;
    bottom: 0;
    background-color: white;
}

footer ul {
    width: 100%;
    height: 4.148148rem;
}

footer li {
    float: left;
    width: 50%;
    text-align: center;
    color: #030303;
    font-size: 0.474rem;
}

footer li img {
    width: 0.8888888888888889rem;
    height: 0.8888888888888889rem;
}

footer li p {
    margin-top: -1.5rem;
}

.shareTips {
    left: 1.9259259259259258rem;
    top: 5.481481481481482rem;
    position: absolute;
    height: 12.888rem;
    width: 11.7037rem;
    display: none;
}

.close {
    width: 1.066666rem;
    height: 1.066666rem;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    margin-left: 5.54074rem;
}

.close:after, .close:before {
    width: 0.533333rem;
    height: 0.074074rem;
    background-color: #2d70e1;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center;
}

.close:after {
    transform: rotate(45deg)
}

.close:before {
    transform: rotate(-45deg)
}

.content {
    position: relative;
    padding-top: 1.037037rem;
    height: 9.9259rem;
    width: 100%;
    margin-top: 0.74074rem;
    background-color: white;
}

.tips1 {
    position: relative;
    width: 100%;
    line-height: 0.71111rem;
    text-align: center;
    font-size: 0.711111rem;
    color: #2d70e1;
}

.qrWrapper {
    height: 6.222222rem;
    width: 6.22222rem;
    border: solid #2d70e1;
    margin-top: 1.037037rem;
    margin-left: 2.56666rem;
    padding: 0.148148rem;
}

#qrcode {
    height: 6.22222rem;
    width: 6022222rem;
}

.layer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

.qrWrapper img {
    width: 6.148148rem;
    height: 6.148148rem;
}