/* 
Choose a ticket 1.0.0 
*/
input {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
}

/* pgc head start */
.head {
    height: auto;
    background-image: url(../images/headbg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 5.466666666666667rem;
    background-position: left top;
    padding-bottom: 3.57037037037037rem;
}

.mobileTit {
    height: .8888888888888889rem;
}

.head .header {
    height: 1.007407407407407rem;
    line-height: 1.007407407407407rem;
    text-align: center;
    color: #fff;
    font-size: .7111111111111111rem;
    position: relative;
}

.head .header i {
    position: absolute;
    left: 0.3851851851851852rem;
    width: 0.8592592592592593rem;
    height: 1.007407407407407rem;
}

.head .header i:after, .head .header i:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0.4444444444444444rem;
    height: 0.0444444444444444rem;
    background-color: #fff;
    transform-origin: left center;
}

.head .header i:after {
    top: 0.4962962962962963rem;
    transform: rotate(-45deg);
    bottom: 0;
}

.head .header i:before {
    transform: rotate(45deg);
    bottom: 0.4962962962962963rem;
}

/* head end */
/* pgc seating Plan start */
.seatingPlan {
   width: 14.85925925925926rem;
    background-color: #fff;
    border-radius: 0.1185185185185185rem;
    margin-left: 0.5925925925925926rem;
    margin-right: 0.5481481481481481rem;
    margin-bottom: 0.2666666666666667rem;
    margin-top: -2.044444444444444rem;
    box-shadow: 0 0.1481481481481481rem 0.2962962962962963rem 0.0740740740740741rem #dbe2f5;
    padding-bottom: 0.0740740740740741rem;
}

.seatingPlanTit {
    width: 100%;
    height: 0.6814814814814815rem;
    line-height: 0.6814814814814815rem;
    text-align: center;
    color: #262626;
    font-size: 0.562962962962963rem;
}

.seatingPlanCon {
        width: 13.83703703703704rem;
    height: 8.696296296296296rem;
    margin: 0 auto;
    background-image: url(../images/sketchmap11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    position: relative;
}

.seatingPlanCon > div {
    position: absolute;
        font-size: 0.3266666666666667rem;
    text-align: center;
    color: #000000;
}
/* A区 start */
.areaA1{width: 1.22962962962963rem;left: 0.7407407407407407rem;}
.areaA2{width: 1.377777777777778rem;left: 2.02962962962963rem;}
.areaA3{width: 1.437037037037037rem;left: 3.451851851851852rem;}
.areaA4{width: 1.6rem;height: 1.022222222222222rem;line-height: 1.022222222222222rem;top:0.9777777777777778rem;left: 3.422222222222222rem;}
.areaA5{width: 0.9333333333333333rem;left:5.096296296296296rem;}
.areaA6{width: 1.051851851851852rem;height:1.022222222222222rem;line-height: 1.022222222222222rem;top:0.9777777777777778rem;left: 5.155555555555556rem;}
.areaA7{width: 0rem;left: 6.207407407407407rem;}
.areaA8{width: 1.6rem;height:1.022222222222222rem;line-height: 1.022222222222222rem;top:0.9777777777777778rem;left: 6.311111111111111rem;}
.areaA9{width: 0.9185185185185185rem;left: 7.866666666666667rem;}
.areaA10{width: 1.051851851851852rem;height:1.022222222222222rem;line-height: 1.022222222222222rem;top:0.9777777777777778rem;left: 7.985185185185185rem;}
.areaA11{width: 1.437037037037037rem;left: 8.977777777777778rem;}
.areaA12{width: 1.57037037037037rem;height:1.022222222222222rem;line-height: 1.022222222222222rem;top:0.9777777777777778rem;left: 9.155555555555556rem;}
.areaA13{width: 1.007407407407407rem;left: 10.63703703703704rem;}
.areaA14{width: 1.2rem;left: 11.83703703703704rem;}

.areaA1,.areaA2,.areaA3,.areaA5,.areaA7,.areaA9,.areaA10,.areaA11,.areaA13,.areaA14{height: 0.6814814814814815rem;line-height: 0.6814814814814815rem;top:0.3555555555555556rem;}
/* end */
/* B区 start */
.areaB1{height:1.185185185185185rem;line-height:1.185185185185185rem;top: 0.8888888888888889rem;}
.areaB2,.areaB3{height: 1.17037037037037rem;line-height: 1.17037037037037rem;top: 2.266666666666667rem;}
.areaB4,.areaB5{height: 1.185185185185185rem;line-height: 1.185185185185185rem;top: 3.62962962962963rem;}
.areaB6,.areaB7{height:1.185185185185185rem;line-height: 1.185185185185185rem;top: 5.022222222222222rem;}
.areaB8{height:1.185185185185185rem;line-height:1.185185185185185rem;top:6.4rem;}
.areaB1,.areaB3,.areaB5,.areaB7,.areaB8{width: 0.637037037037037rem;right: 0.2666666666666667rem;}
.areaB2,.areaB4,.areaB6{width: 0.8740740740740741rem;right: 1.111111111111111rem;}
/* end */
/* C区 start */
.areaC1{width: 1.303703703703704rem;height:0.7703703703703704rem ;line-height:0.7703703703703704rem ;left:0.6666666666666667rem;bottom: 0.5185185185185185rem;}
.areaC2{width: 1.125925925925926rem;height:0.7703703703703704rem ;line-height:0.7703703703703704rem ;left:2.088888888888889rem;bottom: 0.5185185185185185rem;}
.areaC3{width: 1.555555555555556rem;height:0.9777777777777778rem ;line-height:0.9777777777777778rem ;left:3.348148148148148rem;bottom: 1.377777777777778rem;}
.areaC4{width:1.437037037037037rem;left:3.348148148148148rem;}
.areaC5{width:1.955555555555556rem;height:0.9777777777777778rem;line-height:0.9777777777777778rem;left:5.037037037037037rem;bottom: 1.377777777777778rem;}
.areaC6{width:1.837037037037037rem;left:4.977777777777778rem;}
.areaC7{width:1.97037037037037rem;height:0.9777777777777778rem ;line-height:0.9777777777777778rem ;left:7.125925925925926rem;bottom:1.377777777777778rem;}
.areaC8{width:1.837037037037037rem;left:6.992592592592593rem;}
.areaC9{width:1.555555555555556rem;height:0.9777777777777778rem ;line-height:0.9777777777777778rem ;left:9.22962962962963rem;bottom: 1.377777777777778rem;}
.areaC10{width:1.437037037037037rem;;left:9.037037037037037rem;}
.areaC11{width:1.022222222222222rem;left:10.66666666666667rem;}
.areaC12{width: 1.185185185185185rem;right:0.7703703703703704rem;}
.areaC4,.areaC6,.areaC8,.areaC10,.areaC11,.areaC12{height:0.6666666666666667rem;line-height:0.6666666666666667rem;bottom: 0.562962962962963rem;}
/* end */
/* D区 start */
.areaD1{width: 0.8rem;height:0.8rem ;line-height:0.8rem ;top: 1.259259259259259rem;}
.areaD2{width: 0.9777777777777778rem;height:1.303703703703704rem ;line-height:1.303703703703704rem ;left:1.037037037037037rem;top: 2.177777777777778rem;}
.areaD3{height:1.155555555555556rem ;line-height:1.155555555555556rem ;top: 2.266666666666667rem;}
.areaD4{width: 0.9777777777777778rem;height:1.303703703703704rem ;line-height:1.303703703703704rem ;left:1.037037037037037rem;top: 3.6rem;}
.areaD5{width: 0.8rem;height:1.17037037037037rem ;line-height:1.17037037037037rem ;top: 3.62962962962963rem;}
.areaD6{width: 0.9777777777777778rem;height:1.303703703703704rem ;line-height:1.303703703703704rem ;left:1.037037037037037rem;top: 5.051851851851852rem;}
.areaD7{width: 0.8rem;height:1.17037037037037rem ;line-height:1.17037037037037rem ;top:5.007407407407407rem;}
.areaD8{width: 0.8rem;height:0.9777777777777778rem ;line-height:0.9777777777777778rem;top:6.4rem;}
.areaD1,.areaD3,.areaD5,.areaD7,.areaD8{width: 0.7111111111111111rem;left: 0.2666666666666667rem;}
/* end */
.seatingPlan .mark {
    width: 100%;
    line-height: 0.3555555555555556rem;
    text-align: center;
    font-size: 0.1777777777777778rem;
}

.seatingPlanCon > div.checked {
    background:rgba(44,112,255,.8);
}

/* seating Plan end */
/* pgc seatCon start */
.seatCon {
   width: 14.85925925925926rem;
    border-radius: 0.1185185185185185rem;
    box-shadow: 0 0 0.5185185185185185rem 0.1481481481481481rem #dae6fa;
    margin-left: 0.5925925925925926rem;
    margin-right: 0.5481481481481481rem;
    margin-bottom: 0.2666666666666667rem;
    padding-bottom: 0.2962962962962963rem;
    position: relative;
    height: auto;
    /*max-height: 7.955555555555556rem;*/
}
.seatCon::-webkit-scrollbar{
    display: none;
}
.seatCon::scroll{
    display: none;
}
.seatTit {
   height: 0.562962962962963rem;
    line-height: 0.562962962962963rem;
    color: #1a1a1a;
    font-size: 0.562962962962963rem;
    text-indent: 0.7111111111111111rem;
    padding-top: .3555555555555556rem;
}

.seatCon .seatList {
    margin-top: 0.2074074074074074rem;
    margin-bottom: 0.3407407407407407rem;
    position: relative;
    width: 13.2rem;
    overflow-x: auto;
    margin-left: 1.362962962962963rem;
    overflow-y: hidden;
}
.seatList::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.seatList::-webkit-scrollbar {
    width: 0.1481481481481481rem;
    height: 0.1925925925925926rem;
    -webkit-border-radius: 0.0740740740740741rem;
    -moz-border-radius: 0.0740740740740741rem;
    border-radius: 0.0740740740740741rem;
}
.seatList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius:0.1481481481481481rem;
    -moz-border-radius:  0.1481481481481481rem;
    border-radius:0.1481481481481481rem;
    min-height: 28px;
}
.seatList::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0.0740740740740741rem;
    -moz-border-radius:  0.0740740740740741rem;
    border-radius:  0.0740740740740741rem;
}
.seatCon .seatList > .seatListCon {
	width:30rem;
    position: relative;
}

/*.seatCon .seatList>.seatListCon a:nth-child(17n+0){margin-right:0;}*/
.seatCon .seatList > .seatListCon .notBg {
    background-image: url(../images/not.png);
}

/* 不可选座位 */
.seatCon .seatList > .seatListCon .optionalBg {
    background-image: url(../images/optional.png);
}

/* 可选座位 */
.seatCon .seatList > .seatListCon .selected {
    background-image: url(../images/this.png);
    color: #fff
}

/* 选择座位 */
.seatCon .seatList > .seatListCon .seatLine {
    height: 1.318518518518519rem;

    position: absolute;
}

.seatCon .seatList > .seatListCon .seatLine_r {
    height: 1.318518518518519rem;
 
}
.seatRow{position: absolute;left: 0.3555555555555556rem;top:2.192592592592593rem;width: 0.5925925925925926rem;background-color: #cccccc;border-radius: 0.3259259259259259rem}
.seatRow span{
	display: block;
    width: 0.5925925925925926rem;
    font-size: 0.3259259259259259rem;
    height: 1.066666666666667rem;
    line-height: 1.392592592592593rem;
    text-align: center;
    padding-bottom: 0.2518518518518519rem;
}
.seatLine > div, .seatLine_r > div {
       width: 1.303703703703704rem;
    height: 1.066666666666667rem;
    line-height: 1.4rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 0.2962962962962963rem;
    margin-bottom: 0.2518518518518519rem;
    color: #1A1A1A;
    font-size: 0.2962962962962963rem;
    display: inline-block;
    vertical-align: top;
}

.layui-layer-loading .layui-layer-loading1 {
    background-size: cover !important;
    background-position: center center !important;
    margin: 0 auto;
    margin-top: 1rem
}

/*.seatList #seatLoad{}*/
.seatCon .seatMark {
    width: 100%;
    padding: 0.2962962962962963rem 0;
    text-align: center;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.seatMark > div > img {
    width: .562962962962963rem;
    height: 0.4592592592592593rem;
    vertical-align: top;
}

.seatMark > div {
    height: 0.4740740740740741rem;
    line-height: 0.4740740740740741rem;
}


.seatMark > div.optional {
    margin-left: 1.688888888888889rem;
}

.seatMark > div > span {
    display: inline-block;
    color: #1a1a1a;
    font-size: 0.4740740740740741rem;
    vertical-align: top;
}

.checkSeatList{width: 13.43703703703704rem;height:4.740740740740741rem;overflow-y: auto;margin: 0 auto;padding-right: 0.1333333333333333rem;}

.checkSeatList::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.checkSeatList::-webkit-scrollbar {
    width: 0.1481481481481481rem;
    height: 0.1925925925925926rem;
    -webkit-border-radius: 0.0740740740740741rem;
    -moz-border-radius: 0.0740740740740741rem;
    border-radius: 0.0740740740740741rem;
}
.checkSeatList::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    -webkit-border-radius: 0.0740740740740741rem;
    -moz-border-radius:  0.0740740740740741rem;
    border-radius: 0.0740740740740741rem;
    min-height: 28px;
}
.checkSeatList::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0.0740740740740741rem;
    -moz-border-radius:  0.0740740740740741rem;
    border-radius:  0.0740740740740741rem;
}
.checkSeatList>div{}
.checkSeatList>div:nth-child(3n-1){margin-left: 0.6370370rem;margin-right: 0.6370370rem;}
.checkSeat{width: 14.85925925925926rem;border-radius: 0.1185185185185185rem;box-shadow: 0 0 .2222222222222222rem 0 #dae6fa;margin-left: 0.5925925925925926rem;margin-right: 0.5481481481481481rem;box-shadow: 0 0 0.5185185185185185rem 0.1481481481481481rem #dae6fa;display: none;padding-bottom: 0.1481481481481481rem;}

.checkSeatTit{padding-bottom: 0.1481481481481481rem;}

.seatInformation {
    height: 0.7703703703703704rem;
    font-size: 0.562962962962963rem;
    text-indent: 0.6222222222222222rem;
}

.seatInformation > span.marLeft {
    padding-left: 0.6074074074074074rem;
}

.seatInformation > span.colorBlue {
    color: #2c70e1;
}

.seatInformation > span.price {
    color: #f11a65;
}

.information {
    height: 1.955555555555556rem;
    overflow: hidden;
}

.information .name_idNum {
    width: 9.62962962962963rem;
}

.information .name_idNum > div {
    width: 100%;
    height: 0.9777777777777778rem;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.information .name_idNum > div label {
    width: 2.37037037037037rem;
    line-height: 0.9777777777777778rem;
    color: #1a1a1a;
    font-size: 0.562962962962963rem;
    display: block;
    padding-left: 0.6222222222222222rem;
}

.information .name_idNum > div input {
    display: block;
    width: 5.955555555555556rem;
    height: 0.562962962962963rem;
    line-height: 0.562962962962963rem;
    border-bottom: 0.0444444444444444rem solid #808080;
    font-size: 0.562962962962963rem;
    padding-top: 0.2222222222222222rem;
    padding-bottom: 0.1481481481481481rem;
    padding-left: 0.2814814814814815rem;
    padding-right: 0.2814814814814815rem;
}

.save_delete_btn {
    width: 5.02962962962963rem;
    overflow: hidden;
}

.save_delete_btn input {
    font-size: 0.562962962962963rem;
    height: 0.8592592592592593rem;
    border-radius: 0.4296296296296297rem;
    padding: 0 0.3259259259259259rem;
    margin-top: 1.081481481481481rem;
}

.save_delete_btn input[type='submit'] {
    color: #fff;
    background-color: #2c70e1;
    margin-left: 0.8296296296296296rem;
}

.save_delete_btn input[type='button'] {
    color: #545454;
    background-color: #d9d9d9;
    margin-left: 2.4888888888888889rem;
}

/* seatCon end */
/* pgc buy Button start */
.buy {
    margin: auto;
	margin-top:0.2222222222222222rem;
    padding-bottom: 0.25rem;
}
#buyBtn{
    width: 12.26666666666667rem;
    height: 1.837037037037037rem;
    line-height: 1.837037037037037rem;
    border-radius: 0.9185185185185185rem;
    background: #2c70e1;
    font-size: 0.7111111111111111rem;
    color: #fff;
    text-align: center;
    z-index: 2;
    margin: 0 auto;
}
.buy .shadow {
    position: absolute;
    width: 11.21481481481481rem;
    height: 1.17037037037037rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.007407407407407rem;
    z-index: 1;
    background-image: url("../images/submitbg.png");
    background-size: 11.214814814814815rem 11.214814814814815rem;
}

/* buy Button end */
.seatListCon .seat_left {
    float: left;
}
.coord{float:left;height:2.222222222222222rem;background-image: url("../images/zuo.png");text-align: center;width:4rem;background-size:4rem 2.222222222222222rem !important;background-repeat: no-repeat;overflow: hidden;margin-bottom:0.1481481481481481rem;position: relative;background-position: left top;}
.coord>i{position: absolute;width:1.185185185185185rem;height: 1.185185185185185rem;right:0;top: 0;}
.coord>i:after,.coord>i:before{width: 0.3555555555555556rem;height: 0.0444444444444444rem;background-color: #666666;content: '';transform-origin: center center;position:absolute;transform: rotate(45deg);right:0.0740740740740741rem;top: 0.3555555555555556rem }
.coord>i:before{
    transform: rotate(-45deg);
}
.coord>span,.coord>em{font-size: 0.4296296296296296rem;display: block;height: 0.562962962962963rem;line-height: 0.562962962962963rem}
.coord>span{color: #545454;padding-top:0.4740740740740741rem;height: 0.4296296296296296rem;line-height: 0.4296296296296296rem;}
.coord>em{color: #ee1c63;font-style: normal;font-size: 0.5185185185185185rem;height: 0.5185185185185185rem;line-height: 0.5185185185185185rem;padding-top: 0.2962962962962963rem;}
#scan{width: 6.340740740740741rem;height: 6.42962962962963rem;border: 0.0296296296296296rem solid #2c70e1;margin: 0 auto;position: relative}
#scan img{width: 5.97037037037037rem;height:6.02962962962963rem;position: absolute;left: 0;right: 0;bottom: 0;top: 0;margin: auto;}
/*.close:after,.close:before{content: '';position: absolute;left: 0;right: 0;top:0;bottom: 0;margin: auto;transform-origin: center center;}*/

